<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruoyi.app">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_des"
        android:label="@string/ruoyi_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_des"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ruoyiandroidapp"
        tools:targetApi="n">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 声明支持的语言 -->
            <meta-data
                android:name="android.content.pm.ActivityInfo.META_DATA_SUPPORTED_LOCALES"
                android:value="zh,en" />
        </activity>
        <activity android:name=".activity.ActivationActivity"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.HelpDetailsActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.EditPwdActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.HelpActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AvatarActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.mine.EditInfoActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.mine.InfoActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.common.WebActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.work.LogsActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.work.MessageActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.setting.DarkModeActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.setting.ChangeLanguageActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:launchMode="singleTop" /> <!-- 表示当前已经适配了分区存储 -->
        <activity
            android:name=".activity.SyncWaitActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SelectUnitActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.lawenforcement.ui.RecordListActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.lawenforcement.ui.RecordDetailActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.addunit.AddUnitActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <service
            android:name=".sync.SyncService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <meta-data
            android:name="ScopedStorage"
            android:value="true" /> <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>