<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LawMapper">
    
    <resultMap type="Law" id="LawResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="releaseTime"    column="release_time"    />
    </resultMap>

    <sql id="selectLawVo">
        select distinct l.id, l.name, l.release_time from law l
    </sql>

    <select id="selectLawList" parameterType="Law" resultMap="LawResult">
        <include refid="selectLawVo"/>
        <if test="typeId != null">
            INNER JOIN law_type_bind lb ON l.id = lb.law_id AND lb.type_id = #{typeId}
        </if>
        <where>
            <if test="name != null and name != ''"> and l.name like concat('%', #{name}, '%')</if>
            <if test="releaseTime != null "> and l.release_time = #{releaseTime}</if>
        </where>
        order by l.id
    </select>
    
    <select id="selectLawById" parameterType="Long" resultMap="LawResult">
        <include refid="selectLawVo"/>
        where id = #{id}
    </select>

    <insert id="insertLaw" parameterType="Law" useGeneratedKeys="true" keyProperty="id">
        insert into law
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="releaseTime != null">release_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="releaseTime != null">#{releaseTime},</if>
         </trim>
    </insert>

    <update id="updateLaw" parameterType="Law">
        update law
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="releaseTime != null">release_time = #{releaseTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLawById" parameterType="Long">
        delete from law where id = #{id}
    </delete>

    <delete id="deleteLawByIds" parameterType="Long">
        delete from law where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>