<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NormativeMatterBindMapper">
    
    <resultMap type="NormativeMatterBind" id="NormativeMatterBindResult">
        <result property="matterId"    column="matter_item_id"    />
        <result property="normativeId"    column="normative_language_id"    />
        <result property="matterName"    column="matter_name"    />
        <result property="normativeName"    column="normative_name"    />
        <result property="standardCode"    column="standard_code"    />
        <result property="supervisoryOpinion"    column="supervisory_opinion"    />
        <result property="handlingProcedure"    column="handling_procedure"    />
        <result property="administrativePenalty"    column="administrative_penalty"    />
    </resultMap>

    <resultMap type="NormativeMatterBind" id="BoundMatterResult">
        <result property="matterId"    column="matter_item_id"    />
        <result property="matterName"    column="matter_name"    />
    </resultMap>

    <resultMap type="NormativeMatterBind" id="BoundNormativeResult">
        <result property="normativeId"    column="normative_language_id"    />
        <result property="normativeName"    column="normative_name"    />
    </resultMap>

    <sql id="selectNormativeMatterBindVo">
        select b.matter_item_id, b.normative_language_id, m.main_name as matter_name,
               n.standard_phrase as normative_name, n.standard_code, n.supervisory_opinion,
               n.handling_procedure, n.administrative_penalty
        from normative_matter_bind b
        left join regulatory_matter_item ri on b.matter_item_id = ri.id
        left join regulatory_matter m on ri.regulatory_matter_id = m.id
        left join normative_language n on b.normative_language_id = n.id
    </sql>

    <select id="selectNormativeMatterBindList" parameterType="NormativeMatterBind" resultMap="NormativeMatterBindResult">
        <include refid="selectNormativeMatterBindVo"/>
        <where>  
            <if test="matterId != null "> and b.matter_item_id = #{matterId}</if>
            <if test="normativeId != null "> and b.normative_language_id = #{normativeId}</if>
        </where>
    </select>
    
    <select id="selectNormativeMatterBindByMatterId" parameterType="Long" resultMap="NormativeMatterBindResult">
        <include refid="selectNormativeMatterBindVo"/>
        where b.matter_item_id = #{matterId}
    </select>

    <insert id="insertNormativeMatterBind" parameterType="NormativeMatterBind">
        insert into normative_matter_bind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="matterId != null">matter_item_id,</if>
            <if test="normativeId != null">normative_language_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="matterId != null">#{matterId},</if>
            <if test="normativeId != null">#{normativeId},</if>
         </trim>
    </insert>

    <update id="updateNormativeMatterBind" parameterType="NormativeMatterBind">
        update normative_matter_bind
        <trim prefix="SET" suffixOverrides=",">
            <if test="normativeId != null">normative_language_id = #{normativeId},</if>
        </trim>
        where matter_item_id = #{matterId}
    </update>

    <delete id="deleteNormativeMatterBindByMatterId" parameterType="Long">
        delete from normative_matter_bind where matter_item_id = #{matterId}
    </delete>

    <delete id="deleteNormativeMatterBindByMatterIds" parameterType="String">
        delete from normative_matter_bind where matter_item_id in 
        <foreach item="matterId" collection="array" open="(" separator="," close=")">
            #{matterId}
        </foreach>
    </delete>

    <delete id="deleteNormativeMatterBindByMatterIdAndNormativeId">
        delete from normative_matter_bind where matter_item_id = #{matterId} and normative_language_id = #{normativeId}
    </delete>

    <select id="selectBoundMatterList" resultMap="BoundMatterResult">
        select distinct b.matter_item_id, m.main_name as matter_name
        from normative_matter_bind b
        left join regulatory_matter_item ri on b.matter_item_id = ri.id
        left join regulatory_matter m on ri.regulatory_matter_id = m.id
    </select>

    <select id="selectBoundNormativeList" resultMap="BoundNormativeResult">
        select distinct b.normative_language_id, n.standard_phrase as normative_name
        from normative_matter_bind b
        left join normative_language n on b.normative_language_id = n.id
    </select>
</mapper>
