<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysActivationCodeMapper">

    <resultMap type="SysActivationCode" id="SysActivationCodeResult">
        <id     property="codeId"        column="code_id"        />
        <result property="codeValue"     column="code_value"     />
        <result property="status"        column="status"         />
        <result property="expireTime"    column="expire_time"    />
        <result property="bindDeviceId"  column="bind_device_id" />
        <result property="bindUserId"    column="bind_user_id"   />
        <result property="maxDeviceCount"    column="max_device_count"   />
        <result property="activatedCount"    column="activated_count"   />
        <result property="activateTime"     column="activate_time"     />
        <result property="activateDevice"   column="activate_device"    />
        <result property="validDays"      column="valid_days"     />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"        column="remark"         />
    </resultMap>

    <sql id="selectSysActivationCodeVo">
        select code_id, code_value, status, expire_time, bind_device_id, bind_user_id, max_device_count, activated_count, activate_time, activate_device, valid_days, create_by, create_time, update_by, update_time, remark
        from sys_activation_code
    </sql>

    <select id="selectSysActivationCodeById" parameterType="Long" resultMap="SysActivationCodeResult">
        <include refid="selectSysActivationCodeVo"/>
        where code_id = #{codeId}
    </select>

    <select id="selectSysActivationCodeByValue" parameterType="String" resultMap="SysActivationCodeResult">
        <include refid="selectSysActivationCodeVo"/>
        where code_value = #{codeValue}
    </select>

    <select id="selectSysActivationCodeList" parameterType="SysActivationCode" resultMap="SysActivationCodeResult">
        <include refid="selectSysActivationCodeVo"/>
        <where>
            <if test="codeValue != null and codeValue != ''">
                AND code_value like concat('%', #{codeValue}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="bindDeviceId != null and bindDeviceId != ''">
                AND bind_device_id = #{bindDeviceId}
            </if>
            <if test="bindUserId != null">
                AND bind_user_id = #{bindUserId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                and date_format(create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and date_format(create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
        </where>
    </select>

    <insert id="insertSysActivationCode" parameterType="SysActivationCode">
        insert into sys_activation_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="codeId != null">code_id,</if>
            <if test="codeValue != null and codeValue != ''">code_value,</if>
            <if test="status != null">status,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="bindDeviceId != null and bindDeviceId != ''">bind_device_id,</if>
            <if test="bindUserId != null">bind_user_id,</if>
            <if test="maxDeviceCount != null">max_device_count,</if>
            <if test="activatedCount != null">activated_count,</if>
            <if test="validDays != null">valid_days,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="codeId != null">#{codeId},</if>
            <if test="codeValue != null and codeValue != ''">#{codeValue},</if>
            <if test="status != null">#{status},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="bindDeviceId != null and bindDeviceId != ''">#{bindDeviceId},</if>
            <if test="bindUserId != null">#{bindUserId},</if>
            <if test="maxDeviceCount != null">#{maxDeviceCount},</if>
            <if test="activatedCount != null">#{activatedCount},</if>
            <if test="validDays != null">#{validDays},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <insert id="batchInsertSysActivationCode" parameterType="java.util.List">
        insert into sys_activation_code (code_value, status, bind_device_id, bind_user_id, max_device_count, activated_count, valid_days, create_by, create_time, remark)
        values
        <foreach item="item" collection="list" separator=",">
            (#{item.codeValue}, #{item.status}, #{item.bindDeviceId}, #{item.bindUserId},
             #{item.maxDeviceCount}, #{item.activatedCount}, #{item.validDays}, #{item.createBy}, sysdate(), #{item.remark})
        </foreach>
    </insert>

    <update id="updateSysActivationCode" parameterType="SysActivationCode">
        update sys_activation_code
        <trim prefix="set" suffixOverrides=",">
            <if test="codeValue != null and codeValue != ''">code_value = #{codeValue},</if>
            <if test="status != null">status = #{status},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="bindDeviceId != null and bindDeviceId != ''">bind_device_id = #{bindDeviceId},</if>
            <if test="bindUserId != null">bind_user_id = #{bindUserId},</if>
            <if test="maxDeviceCount != null">max_device_count = #{maxDeviceCount},</if>
            <if test="activatedCount != null">activated_count = #{activatedCount},</if>
            <if test="activateTime != null">activate_time = #{activateTime},</if>
            <if test="activateDevice != null and activateDevice != ''">activate_device = #{activateDevice},</if>
            <if test="validDays != null">valid_days = #{validDays},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where code_id = #{codeId}
    </update>

    <delete id="deleteSysActivationCodeById" parameterType="Long">
        delete from sys_activation_code where code_id = #{codeId}
    </delete>

    <delete id="deleteSysActivationCodeByIds" parameterType="Long">
        delete from sys_activation_code where code_id in
        <foreach item="codeId" collection="array" open="(" separator="," close=")">
            #{codeId}
        </foreach>
    </delete>

</mapper>
