<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysSupervisionTypeMapper">

    <resultMap type="com.ruoyi.system.domain.dict.SysSupervisionType" id="SysSupervisionTypeResult">
        <result property="typeId" column="type_id"/>
        <result property="typeCode" column="type_code"/>
        <result property="typeName" column="type_name"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSupervisionTypeVo">
        SELECT type_id, type_code, type_name, sort_order, status, create_by, create_time, update_by, update_time, remark
        FROM sys_supervision_type
    </sql>

    <select id="selectSupervisionTypeList" parameterType="com.ruoyi.system.domain.dict.SysSupervisionType" resultMap="SysSupervisionTypeResult">
        <include refid="selectSupervisionTypeVo"/>
        <where>
            <if test="typeCode != null and typeCode != ''">
                AND type_code = #{typeCode}
            </if>
            <if test="typeName != null and typeName != ''">
                AND type_name like concat('%', #{typeName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        ORDER BY sort_order ASC, type_id ASC
    </select>

    <select id="selectSupervisionTypeAll" resultMap="SysSupervisionTypeResult">
        <include refid="selectSupervisionTypeVo"/>
        WHERE status = '0'
        ORDER BY sort_order ASC, type_id ASC
    </select>

    <select id="selectSupervisionTypeById" parameterType="Long" resultMap="SysSupervisionTypeResult">
        <include refid="selectSupervisionTypeVo"/>
        WHERE type_id = #{typeId}
    </select>

    <insert id="insertSupervisionType" parameterType="com.ruoyi.system.domain.dict.SysSupervisionType" useGeneratedKeys="true" keyProperty="typeId">
        INSERT INTO sys_supervision_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeCode != null and typeCode != ''">type_code,</if>
            <if test="typeName != null and typeName != ''">type_name,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="typeCode != null and typeCode != ''">#{typeCode},</if>
            <if test="typeName != null and typeName != ''">#{typeName},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSupervisionType" parameterType="com.ruoyi.system.domain.dict.SysSupervisionType">
        UPDATE sys_supervision_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeCode != null and typeCode != ''">type_code = #{typeCode},</if>
            <if test="typeName != null and typeName != ''">type_name = #{typeName},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        WHERE type_id = #{typeId}
    </update>

    <delete id="deleteSupervisionTypeById" parameterType="Long">
        DELETE FROM sys_supervision_type WHERE type_id = #{typeId}
    </delete>

    <delete id="deleteSupervisionTypeByIds" parameterType="Long">
        DELETE FROM sys_supervision_type WHERE type_id IN
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>

</mapper>